---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{{ content }}

{%-include menu_item.html collection=site.data.menu.entries-%}

## Contact
- Email: isaac.castillo (at) berkeley.edu
- Twitter: <a href="https://x.com/icastillodgrcia">icastillodgrcia</a>
- LinkedIn: <a href="https://www.linkedin.com/in/isaaccastillod/">isaaccastillod</a>
- GitHub: <a href="https://github.com/isaaccastillod">isaaccastillod</a>
